/*  Applies to whole document*/
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}
/* To center heading in game */
.heading {
    text-align: center;
    font-size: 2.5rem;
}
/* applies to all of the game itself */
.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
/* sets  scoreboard*/
.score {
    margin: 5px auto;
    font-size: 2rem;
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: relative;
}
/* styles buttons*/
.options {
    width: 85%;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
/* give color and design to scoreboard */
#score {
    color: green;
    font-weight: bold;
}
/* Score  */
.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
  
.scores {
    display: inline-block;
    padding: 35px;
}

.move{
    font-size: 2rem;
    font-weight: bold;
}
/* Reload button style */
.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
.result{
    font-size: 3rem;
}

/* Responsive Design */
@media screen and (max-width: 612px)
{  
    .heading{
        text-align: center;
        font-size: 1.5rem;
    }
    .score{
        position: absolute;
        top: 200px;
        width: 100vw;
        font-size: 1.5rem;
    }
    .options{
        width: 50vw;
    }
}